*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
/************ index page*************/
#page{
	max-width: 1500px;
	margin: auto;
}
header {
    position:  relative;
    top: -20px;
    left: 0;
    display: block;
	height: 50px;
	/*padding: 10px 0;*/
	/*background-color: rgba(255,224,153,0.75);*/
	background-color: #0F8514;
	width: 100%;
}

.logo { 
    height: auto;
    width: 100px;
}
.logo img {
    margin-left: -20px;
    margin-top: 12px;
    height: auto;
	width: 70%;
}

/************ Slider Styles **************/

#slider {
    margin-top: -25px;
	margin-bottom: 10px;
}
.slide1 { 
    height: 70vh;
    background-image: url("images/background (2).jpg");
    background-position: center;
    background-size: cover;
}
.slide2 { 
    height: 70vh;
    background-image: url("images/e-commercebackground.png");
    background-position: center;
    background-size: cover;
}
.slide3 { 
    height: 70vh;
    background-image: url("images/background (2).jpg");
    background-position: center;
    background-size: cover;
}
.slide4 { 
    height: 70vh;
    background-image: url("images/financebackground.png");
    background-position: center;
    background-size: cover;
}

#slider .flexslider ul li > div {
	height: 0;
	padding-top: 46.7%;
	position: relative;
}

#slider > .flexslider > ul > li > div { 
	background-size: cover; 
}
.flexslider {
	border-radius: 0;
}
.flex-control-paging li a.flex-active {
	background:#FF5964;
}

.flex-direction-nav .flex-next{
	display:none;
}

.flex-direction-nav .flex-prev{
	display:none;
}
.flex-control-paging li a {
  width: 10px;
  height: 11px;
  border-radius: 1px;
}

#slider .cta {
	position: absolute;
	/*adjust the bottom setting*/
	bottom: 0;
	right: 0;
    left: 0;
    top: 0;
	background: rgba(6,25,35,0.5);
	padding: 10px;
	color:#fff;
	width: 100%;
}

#slider .cta h2 {
	font-size: 10px;
	color: #fff;
    margin-left: 20px;
    margin-top:5px
}
#slider .cta p {
	font-size: 15px;
	color: #fff;
    margin-left: 20px;
    margin-top:5px
}

h2{
    margin-top: 10px;
    font-size: 10px;
    color: white;
    margin-bottom: 15px;
}
h1{
    margin-top: 5px;
    font-size: 15px;
    color: white;
}
p{
    margin-top: 10px;
    font-size: 18px;
    line-height: 18px;
    color: white;
    margin-bottom: 15px;
}
#slider .cta .button{
    padding: 15px 30px;
    background-color: #0F8514;
    outline: none;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    margin-left: 20px;
    margin-top: 10px;
}
.chatbot{
    float: right;
    margin-right: 50px;
    right: 0px;
    border-radius: 50%;
    padding: 1px 2px;
    background: white;
    z-index: 2;
    margin-top: 250px;
    cursor: pointer;
}

#header2{
    height: 50vh;
    background: white;
}
.container2{
    margin-top: 30px;
    margin-right: 100px;
    padding-left: 50px;
}
.container2 h1{
    margin-top: 50px;
    color: black;
    text-align: center;
}
.container2 h2{
    margin-top: 30px;
    color: black;
    text-align: center;
    font-size: 15px;
}
.cards_wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    width: 50%;
    margin-top: 20px;
    margin-left: 70px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.cards_wrap .card_inner{
    background: white;
    border-radius: 5px;
    width: 120px;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 120px;
    box-shadow: 5px 5px rgb(207, 204, 204);
}
.card_items .card_inner a{
    outline: none;
    text-decoration: none;
}
a{
    text-decoration: none;
}
.cards_wrap .card_inner:hover{
    background-color: #0b3d0e;
    color: #fff;
}
.card_inner img{
    margin-top: 10px;
    left: auto;
    right: auto;
    width: 50%;
    margin-bottom: 5px;
}

.cards_wrap .card_inner h2{
    color: #0F8514;
    font-weight: 900;
    text-align: center;
    margin-top: 5px;
}
#footer_section{
    margin-top: 100px;
    background: #0F8514;
    background-position: center;
    background-size: cover;
}
.footer_container{
    margin-top: 100px;
}
.footer_container h1{
    text-align: center;
    margin-top: 5px;
}
.container4{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.container4 h2{
    text-align: center;
    font-size: 10px;
}
.container5 h2{
    text-align: center;
    font-size: 8px;
}
.container5{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.container5 img{
    margin-right: 25px;
    cursor: pointer;

}

/************ index page END*************/









/************ login page *************/
.container {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	margin: auto;
}

.row{
	display: grid;
	height: 100vh;
	width: 100%;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position:center ;
	background-size: cover;
	box-shadow: inset 0 0 0 50vw rgb(14 14 14 / 78%);

}

.logo{
    margin: 20px 50px;
    width: 20%;

}

.container .row{
	width: 100%;
	height: 100vh;
	
}

.container .col{
	width: 100%;
	height: 100vh;
	background: #D0D0E5;
}
.col .header-right{
	margin-left: 80px;
	margin-right: 10px;
}

.col .header-right h2{
	margin-top: 80px;
	margin-left: 10px;

}
.col .header-right h2{
	font-size: 30px;
	font-weight: bold;
	font-family: sans-serif;
}

.col .header-right h3{
	font-size: 25px;
	font-weight: bold;
	font-family: sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
}
 .box{
	background: #000;
    height: 8px;
    width: 25%;
    margin-left: 10px;
}

.form-control{
	margin-left: 10px;
	margin-right: 200px;
}
 .form-control input[type="email"]{
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #C4C4C4;
}

.form-control input[type="password"]{
	width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #C4C4C4;
}

::placeholder{
	color: white;
}

.form-control .btn{
	width: 100%;
  padding: 12px 20px;
  margin: 40px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #008000;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
}

.form-control .btn:hover{
	background-color: #2e8b57;
}

span{
	font-weight: bold;
	font-family: sans-serif;
}
span a{
	text-decoration: none;
}


/************ login page END*************/


/************ signUp page *************/
.container {
	display: inline-grid;
	grid-template-columns: 1fr 1fr;
	width: 100%;
	margin: auto;
}

.row{
	display: grid;
	height: 100vh;
	width: 100%;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position:center ;
	background-size: cover;
	box-shadow: inset 0 0 0 50vw rgb(14 14 14 / 78%);
	

}

.logo{
    margin: 20px 50px;
    width: 20%;

}

.container .row{
	width: 100%;
	height: 100vh;
	
}

.container .col{
	width: 100%;
	height: 100vh;
	background: #D0D0E5;
}
.col .header-right{
	margin-left: 80px;
	margin-right: 10px;
}

.col .header-right h2{
	margin-top: 20px;
	margin-left: 10px;
	margin-bottom: 30px;

}
.col .header-right h2{
	font-size: 30px;
	font-weight: bold;
	font-family: sans-serif;
}

.col .header-right h3{
	font-size: 25px;
	font-weight: bold;
	font-family: sans-serif;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 10px;
}

.form-control{
	margin-left: 10px;
	margin-right: 200px;
}

 .form-control input[type="text"]{
	width: 100%;
  padding: 12px 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #C4C4C4;
}
 .form-control input[type="email"]{
	width: 100%;
  padding: 12px 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #C4C4C4;
}

.form-control input[type="password"]{
	width: 100%;
  padding: 12px 40px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #C4C4C4;
}

::placeholder{
	color: white;
	font-weight: bold;
	font-size: 18px;


}

.form-control .btn{
	width: 100%;
  padding: 12px 20px;
  margin: 40px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: green;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  font-size: 17px;
}

.form-control .btn:hover{
	background-color: #2e8b57;
}
span{
	font-weight: bold;
	font-size: 18px;
	font-family: sans-serif;
}
span a{
	text-decoration: none;
	color: green;
}


/************ signUP page END*************/







/************ dashboard page *************/
.wrapper{
	display: flex;
	position: relative;
}

.wrapper .sidebar{
	position: fixed;
	width: 213px;
	height: 100%;
	left: 0;
	top: 0;
	background:#008000;
	
}

.wrapper .sidebar img{
	height: auto;
	width: 70%;
	vertical-align: middle;
	padding: 15px ;
	margin-right: -15px;

}
/*
.wrapper .sidebar span{
	vertical-align: middle;
	text-transform: uppercase;
	color:#fff;
	font-weight:bold;
	font-size: 30px;
	margin-left: 10px;
	line-height: 10px;

}*/
.wrapper .sidebar p{
	color:#fff;
	font-size: 20px;
	padding: 15px;
	margin: 5px;
}

.wrapper .sidebar ul li{
	padding: 6px;
  	margin-left: 10px;
  	border: none;
  	cursor: pointer;
    list-style: none;
}
.wrapper .sidebar ul li a {
	color: #fff;
	display: block;
    text-decoration: none;
  }
/*
.wrapper .sidebar ul li .fa-angle-double-down{
	margin-left: 40px;
	transition: 0.5s;
}
.wrapper .sidebar ul li:hover{
 	border-left:2px solid #fff;
 }*/

 /** sub menu**/

.hide-menu{
	display:none;
  }
  
  .show-menu{
	display:block;
  }
  .wrapper .sidebar ul li ul li{
	border-bottom: 1px solid #fff;
  }





/************ dashboard page END*************/










/************ Tablet Size Styles *************/
@media only screen and (min-width: 760px) {

/* slider styles */
#slider .cta { width: 50%; right:0; }
.slide1 { 
    background-image: url("images/background_image (2).jpg");
    background-position: center;
    background-size: cover;
}
.slide2 { 
    background-image: url("images/financebackground.png");
    background-position: center;
    background-size: cover;
}
.slide3 { 
    background-image: url("images/e-commercebackground.png");
    background-position: center;
    background-size: cover;
}
.slide4 { 
    background-image: url("images/background_image (2).jpg");
    background-position: center;
    background-size: cover;
}
/* Add Additional slide backgrounds */

}

/************ Tablet Size Styles END*************/


/************ Large Tablet Size Styles *************/
@media only screen and (min-width: 1020px) {




}
/************ Large Tablet Size Styles END*************/




/************ Desktop Size Styles *************/

@media only screen and (min-width: 1200px) {



}

/************ Desktop Size Styles END*************/